@import "../../theme";
@import "../../base";

.cart {
  position: fixed;
  top: 50px;
  right: -400px;
  transition: right 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  background: linear-gradient(
    0deg,
    rgb(66, 16, 15) 0%,
    rgba(45, 22, 19, 1) 20%,
    rgba(31, 31, 31, 1) 100%
  );
  color: white;
  height: fit-content;
  max-height: 800px;

  width: 250px;
  padding: 10px;
  margin: 32px;

  @include mm {
    width: 350px;
    padding: 20px;
  }

  &-open {
    right: 10px;
  }

  &-empty {
    font-size: 1rem;
    color: gray;
    margin-top: 10px;
  }
}

.cartHeader {
  text-align: left;
  font-weight: bold;
}

.buttonWrapper {
  display: flex;
  margin-top: 30px;
}

.checkoutButton {
  margin-left: 20px;
  background-color: $active-button;
}

.totalPrice {
  text-align: start;
  margin-top: 20px;
}

.cartItemWrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
