@use "../../_theme.scss" as *;
@use "../../_base.scss" as *;

.home-wrapper {
  &-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    background: linear-gradient(
      45deg,
      rgba(31, 31, 31, 1) 11%,
      rgba(37, 17, 16, 1) 54%,
      rgba(59, 14, 13, 1) 100%
    );

    &-square {
      width: 10%;
      height: 10%;
      background: rgb(43, 3, 3);
      background: linear-gradient(
        87deg,
        rgba(43, 3, 3, 1) 0%,
        rgba(34, 5, 2, 1) 47%,
        rgba(31, 2, 2, 1) 100%
      );
    }

    &-round-overlay {
      width: 40%;
      height: 90%;
      border-top-left-radius: 30%;
      background: rgb(74, 10, 10);
      background: linear-gradient(
        87deg,
        rgba(74, 10, 10, 1) 0%,
        rgba(54, 9, 5, 1) 47%,
        rgba(41, 3, 3, 1) 100%
      );
    }
  }

  .home {
    display: flex;
    flex-direction: column;

    &-hero {
      padding-top: 58px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 100vh;

      @include ls {
        flex-direction: row;
      }

      &-text {
        color: white;
        display: flex;
        flex-direction: column;

        &-upper-subtitle {
          font-size: clamp(0.5rem, 1.5vw, 1rem);
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }

        &-title {
          font-size: clamp(2.5rem, 22vw, 6rem);
          font-family: "Anton", sans-serif;

          @include tb {
            font-size: clamp(1rem, 22vw, 8rem);
          }
        }

        &-subtitle {
          font-size: clamp(0.5rem, 1.5vw, 1rem);
          letter-spacing: 0.1em;
          text-transform: uppercase;

          text-wrap: nowrap;

          @include tb {
            font-size: clamp(0.5rem, 1.5vw, 1rem);
          }
        }
      }

      &-image {
        max-width: 50%;
        max-height: 50%;
      }
    }

    &-products {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $primary;
      padding: 48px 0px;
      overflow: hidden;

      &-title {
        font-size: 2rem;
        color: white;
        align-self: center;
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
}
