@import "../../../_base.scss";

.about-section-2-item {
  display: flex;
  align-items: flex-start;
  background: repeating-linear-gradient(
    -45deg,
    #1f1f1f 0px,
    #1f1f1f 5px,
    #1f1f1f 6px,
    #171717 11px,
    #171717 12px
  );
  padding: 40px 20px;
  border-radius: 30px;
  width: 60%;

  font-size: 20px;

  @include xl {
    font-size: 16px;
  }

  @include lg {
    font-size: 14px;
    width: 70%;
  }

  @include md {
    font-size: 14px;
    padding: 40px 10px;
    width: 90%;
  }

  @include sm {
    font-size: 10px;
    padding: 40px 5px;
    width: 90%;
  }

  &-image {
    width: 25%;
    aspect-ratio: 1/1;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 0px 30px;

    &-title {
      font-size: 2em;
      margin-bottom: 20px;
      font-weight: bold;
    }

    &-desc {
      font-size: 1em;
      line-height: 1.5em;
      width: 100%;
    }
  }
}
