.product {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  padding: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #cacaca;
  border-radius: 8px;
  width: 20%;
  margin-bottom: 30px;

}

.productName {
  margin-bottom: 30px;
  font-weight: 500;
}

.productBottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

