@use "../../Product.scss" as *;
@use "../../../../base" as *;

.frequencyCard {
  @include cardStyle();
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  order: 3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px 10px 20px;

  @include tb {
    order: 2;
  }

  &-title {
    font-size: 1.1rem;
  }
  &-subtitle {
    font-size: 0.8rem;
    color: grey;
  }
  &-hertz {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      font-size: 0.8rem;
      color: grey;
    }
  }
}
