@use "../../theme" as *;
@use "../../animations" as *;
@use "../../base" as *;

@mixin cardStyle {
  width: 100%;
  max-width: 250px;
  border-radius: 17px;
  background-color: $primary-darker;
  position: relative;
  @include shadow-pulse-thin;
}

.product-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 58px 20px 50px 20px;
  background: url("../../Images/product-bg.jpeg");
  background-size: cover;
  background-position: center;

  .product {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

    @include tb {
      flex-direction: row;
    }

    &-leftPanel {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: 50px;
      align-items: center;
      width: 100%;

      @include tb {
        order: 1;
      }

      &-name {
        font-size: 2.5rem;
        color: white;
        font-family: "Lobster", sans-serif;
      }

      &-purchase {
        display: flex;
        justify-content: center;
        gap: 20px;
        order: 1;
        background-color: $active-button;
        width: 250px;

        @include tb {
          order: 3;
        }
      }
    }

    &-middlePanel {
      order: 1;
      width: 100%;
      max-width: 250px;
      min-width: 230px;
      height: 430px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include cardStyle();

      @include tb {
        order: 2;
      }

      &-img {
        width: 190px;
        height: auto;
      }
    }

    &-rightPanel {
      order: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
      width: 100%;

      &-dolby,
      &-alexa {
        @include cardStyle();
      }

      &-dolby {
        height: 125px;
        background-image: url("../../Images/dolby-atmos.webp");
        background-size: cover;
      }

      &-alexa {
        height: 80px;
        background-image: url("../../Images/alexa.png");
        background-size: 120px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
