@use "../../Product.scss" as *;
@use "../../../../base" as *;

.materialCard {
  @include cardStyle();
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 200px;
  overflow: hidden;
  order: 2;
  padding: 20px 0px;

  @include tb {
    order: 1;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 400px;
    height: 400px;
    background: $carbon-background;
    border-radius: 50%;
    box-shadow: $box-shadow1;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }

  &:before {
    top: -320px;
  }

  &:after {
    bottom: -320px;
    transform: translateX(-50%) rotate(180deg);
  }

  &-label,
  &-name {
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Anton", sans-serif;
    z-index: 12;
  }

  &-next,
  &-previous {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &-next {
    right: 10px;
  }

  &-previous {
    left: 10px;
  }
}
