@import "../../base";

.header {
  height: 58px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;

  &-logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 10vw;

    &-icon {
      width: 50px;
    }

    &-text {
      color: white;
    }

    &:hover {
      color: rgb(86, 86, 86);
    }

    @include lg {
      margin: 0 6vw;
    }
  }
}
