@import "../../base";
@import "../../theme";

.header {
  height: 58px;
  padding: 0px 10px;
  font-size: 16px;
  border-radius: 0px 0px 30px 30px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;

  &-fixed {
    position: fixed;
    background-color: $primary;
    transition: background-color 300ms ease-in-out;
  }
  @include tb {
    position: absolute;
    background-color: transparent;
  }
}
