@import "../../../_theme.scss";
@import "../../../_base.scss";

.cart-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $secondary;
  border-radius: 20px;
  padding: 10px 12px;
  color: white;
  margin-right: 15px;
  margin-left: auto;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  transition: box-shadow 0.15s ease, transform 0.15s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: inset 0px 3px 7px #545454;
    transform: translateY(2px);
  }

  @include lg {
  }

  @include md {
  }

  &>div {
    margin-right: 10px;
  }
}
