@import "../../_base.scss";

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  padding: 12px;
  background-color: #171717;
  width: 200px;
  height: 350px;
  color: white;
  border-radius: 20px;
  margin: 40px 0px;
  position: relative;
  font-size: 1rem;

  &-title {
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 20px;
    text-align: center;
  }

  &-image {
    height: 200px;
    width: auto;
  }

  &-footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-price {
      font-size: 1em;
    }

    &-button {
      font-size: 0.8rem;
      align-self: flex-end;
    }
  }
}
