@use "../../theme" as *;
@use "../../base" as *;

.product-slider {
  .custom-prevArrow,
  .custom-nextArrow {
    position: absolute;
    z-index: 99999;
    top: 50%;
    transform: translate(0%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background: $metalic-bg;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    @include buttonActive;
    svg {
      fill: $primary;
    }
  }

  .custom-prevArrow {
    left: 10px;
  }
  .custom-nextArrow {
    right: 10px;
  }
  .custom-prevArrow:hover,
  .custom-nextArrow:hover {
    cursor: pointer;
  }
  .slick-dots li button:before {
    color: #9d9d9d;
  }
  .slick-dots li.slick-active button:before {
    color: $secondary;
  }

  .slick-slide {
    cursor: pointer;
  }

  .slick-slider .slick-slide {
    display: flex;
    justify-content: center;
  }
}
