@use "../../../base" as *;
@use "../../../theme" as *;

.homeBenefitsItem {
  display: flex;
  padding: 24px 12px;

  @include tb {
    flex: 0 0 50%;
  }

  @include ls {
    padding-left: 20px;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 7px;
    color: white;

    &-title {
      font-size: 1rem;
      font-weight: bold;
      white-space: nowrap;
    }

    &-subtitle {
      font-size: 0.8rem;
      color: grey;
      white-space: nowrap;
    }
  }
}

.homeBenefitsItem:nth-child(1),
.homeBenefitsItem:nth-child(3) {
  background-color: $primary;
}

.homeBenefitsItem:nth-child(2),
.homeBenefitsItem:nth-child(4) {
  background-color: $primary-darker;
}

@include tb {
  .homeBenefitsItem:nth-child(2),
  .homeBenefitsItem:nth-child(3) {
    background-color: $primary;
  }

  .homeBenefitsItem:nth-child(1),
  .homeBenefitsItem:nth-child(4) {
    background-color: $primary-darker;
  }
}
