.recieptPage {
    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 120px 30px 30px 30px;
    background: linear-gradient(
    45deg,
    rgba(31, 31, 31, 1) 11%,
    rgba(37, 17, 16, 1) 54%,
    rgba(59, 14, 13, 1) 100%
  );
}

.reciepts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:baseline;
    gap: 30px;
    padding: 30px;
}