@use "../../../../theme" as *;
@use "../../../../base" as *;

.mobileNav {
  position: relative;

  @include tb {
    display: none;
  }

  &-menu {
    position: absolute;
    top: 58px;
    right: 10px;

    display: flex;
    flex-direction: column;
    padding: 0px 18px;
    background-color: $primary;
    border-radius: 20px;

    opacity: 0;
    transform: translateX(200px);
    transition: opacity 300ms ease-in-out, transform 200ms ease-out;

    &-open {
      opacity: 1;
      transform: translateX(0);
    }

    &-item {
      $text-color: rgb(169, 169, 169);
      display: flex;
      align-items: center;
      color: white;
      cursor: pointer;
      width: 130px;
      height: 50px;

      &:hover {
        color: $text-color;
        transition: ease 0.2s;
        text-decoration: underline;
      }

      &:hover {
        svg {
          fill: $text-color;
        }
      }

      &-link {
        text-decoration: none;
        color: inherit;
        margin-left: 6px;

        &:visited,
        &:active,
        &:hover {
          color: inherit;
        }
      }
    }
  }
}
