.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;

  .container {
    max-width: 100%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;

    .line {
      width: 80%;
      height: 1px;
      background-color: #666;
    }
  }

  .col-md-4 {
    .logo {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      img {
        max-width: 50px;
        max-height: 50px;
        width: 5vw;
        height: 5vw;
        margin-right: 10px;
      }

      h2 {
        font-size: 2.5vw;
        font-weight: bold;
        color: #fff;
      }
    }
  }

  h4 {
    font-weight: bold;
    margin-bottom: 1.5vw;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 1.5vw;
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ccc;
    }
  }
}
