@import "../../_theme.scss";
@import "../../_base.scss";

.footer-wrapper {
  background-color: #333;
  color: #fff;
  padding: 24px 12px;

  .footer {
    max-width: 100%;
    margin: 0 auto;

    &-logo {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      margin-bottom: 24px;

      img {
        width: 60px;
      }
    }

    &-links {
      display: flex;
      justify-content: space-around;
      font-size: 0.8rem;

      &-row {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        & a:visited {
          color: #fff;
        }
        & li {
          & a {
            display: flex;
            align-items: center;
            gap: 5px;
          }
          margin-bottom: 5px;
        }

        &-title {
          font-weight: 700;
          margin-bottom: 5px;
        }
      }
    }
  }
}
