@keyframes pulse-glow {
  0%,
  100% {
    box-shadow: rgba(240, 46, 50, 0.4) 5px 5px, rgba(240, 46, 50, 0.3) 10px 10px,
      rgba(240, 46, 50, 0.2) 15px 15px, rgba(240, 46, 50, 0.1) 20px 20px,
      rgba(240, 46, 50, 0.05) 25px 25px;
  }
  50% {
    box-shadow: rgba(240, 46, 50, 0.7) 6px 6px, rgba(240, 46, 50, 0.5) 11px 11px,
      rgba(240, 46, 50, 0.4) 16px 16px, rgba(240, 46, 50, 0.3) 21px 21px,
      rgba(240, 46, 50, 0.2) 26px 26px;
  }
}
.shadow-pulse {
  animation: pulse-glow 3s ease-in-out infinite;
}

@keyframes pulse-glow-thin {
  0%,
  100% {
    box-shadow: rgba(240, 46, 50, 0.4) 1px 1px, rgba(240, 46, 50, 0.3) 2px 2px,
      rgba(240, 46, 50, 0.2) 3px 3px, rgba(240, 46, 50, 0.1) 4px 4px,
      rgba(240, 46, 50, 0.05) 5px 5px;
  }
  50% {
    box-shadow: rgba(240, 46, 50, 0.7) 2px 2px, rgba(240, 46, 50, 0.5) 3px 3px,
      rgba(240, 46, 50, 0.4) 4px 4px, rgba(240, 46, 50, 0.3) 5px 5px,
      rgba(240, 46, 50, 0.2) 6px 6px;
  }
}

@mixin shadow-pulse-thin {
  animation: pulse-glow-thin 3s ease-in-out infinite;
}

.carbon-fiber {
  height: 24px;
  width: 100%;
  background-image: repeating-linear-gradient(
    45deg,
    #1a1a1a 0px,
    #1a1a1a 8px,
    #2a2a2a 8px,
    #2a2a2a 16px
  );
  background-size: 24px 24px;
  animation: carbonFiber 2s linear infinite;
}
@keyframes carbonFiber {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 24px 0;
  }
}

.frequency-animation {
  display: flex;
  height: 24px;
  gap: 5px;
  & > span {
    width: 3px;
    height: 24px;
    background-color: white;
    border-radius: 5px;
    animation: frequencyAnimation 4s linear infinite;
    align-self: center;
  }
  & > span:nth-child(1) {
    animation-delay: 0s;
  }
  & > span:nth-child(2) {
    animation-delay: 0.6s;
  }
  & > span:nth-child(3) {
    animation-delay: 1s;
  }
  & > span:nth-child(4) {
    animation-delay: 1.2s;
  }
  & > span:nth-child(5) {
    animation-delay: 0.2s;
  }
  & > span:nth-child(6) {
    animation-delay: 0s;
  }
  & > span:nth-child(7) {
    animation-delay: 0.4s;
  }
  & > span:nth-child(8) {
    animation-delay: 0.8s;
  }
  & > span:nth-child(9) {
    animation-delay: 1.4s;
  }
  & > span:nth-child(10) {
    animation-delay: 0s;
  }
  & > span:nth-child(11) {
    animation-delay: 0.8s;
  }
  & > span:nth-child(11) {
    animation-delay: 1.2s;
  }
}

@keyframes frequencyAnimation {
  0% {
    height: 24px;
  }
  50% {
    height: 4px;
  }
}
