$ms: 320px; // Mobile S
$mm: 375px; // Mobile M
$ml: 425px; // Mobile L
$tb: 768px; // Tablet
$ls: 1024px; // Laptop S
$lm: 1280px; // Laptop M
$ll: 1440px; // Laptop L
$dp: 1920px; // Desktop
$dl: 2560px; // Desktop L

@mixin ms {
  @media (min-width: #{$ms}) {
    @content;
  }
}

@mixin mm {
  @media (min-width: #{$mm}) {
    @content;
  }
}

@mixin ml {
  @media (min-width: #{$ml}) {
    @content;
  }
}

@mixin tb {
  @media (min-width: #{$tb}) {
    @content;
  }
}

@mixin ls {
  @media (min-width: #{$ls}) {
    @content;
  }
}

@mixin lm {
  @media (min-width: #{$lm}) {
    @content;
  }
}

@mixin ll {
  @media (min-width: #{$ll}) {
    @content;
  }
}

@mixin dp {
  @media (min-width: #{$dp}) {
    @content;
  }
}

@mixin dl {
  @media (min-width: #{$dl}) {
    @content;
  }
}

$carbon-background: repeating-linear-gradient(
  -45deg,
  #1f1f1f 0px,
  #1f1f1f 5px,
  #1f1f1f 6px,
  #171717 11px,
  #171717 12px
);

$metalic-bg: linear-gradient(
  45deg,
  #999 5%,
  #fff 10%,
  #ccc 30%,
  #ddd 50%,
  #ccc 70%,
  #fff 80%,
  #999 95%
);

$box-shadow1: rgba(94, 94, 107, 0.25) 0px 13px 27px -18px,
  rgba(105, 94, 94, 0.3) 0px 8px 16px -8px;

@mixin logo-font {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin buttonActive {
  &:active {
    box-shadow: inset 0px 3px 7px #545454;
    top: 51%;
    opacity: 0.5;
  }
}
