$ms: 320px; // Mobile S
$mm: 375px; // Mobile M
$ml: 425px; // Mobile L
$tb: 768px; // Tablet
$ls: 1024px; // Laptop S
$lm: 1280px; // Laptop M
$ll: 1440px; // Laptop L
$dp: 1920px; // Desktop
$dl: 2560px; // Desktop L

@mixin ms {
  @media (min-width: #{$ms}) {
    @content;
  }
}

@mixin mm {
  @media (min-width: #{$mm}) {
    @content;
  }
}

@mixin ml {
  @media (min-width: #{$ml}) {
    @content;
  }
}

@mixin tb {
  @media (min-width: #{$tb}) {
    @content;
  }
}

@mixin ls {
  @media (min-width: #{$ls}) {
    @content;
  }
}

@mixin lm {
  @media (min-width: #{$lm}) {
    @content;
  }
}

@mixin ll {
  @media (min-width: #{$ll}) {
    @content;
  }
}

@mixin dp {
  @media (min-width: #{$dp}) {
    @content;
  }
}

@mixin dl {
  @media (min-width: #{$dl}) {
    @content;
  }
}

$carbon-background: repeating-linear-gradient(
  -45deg,
  #1f1f1f 0px,
  #1f1f1f 5px,
  #1f1f1f 6px,
  #171717 11px,
  #171717 12px
);

@mixin logo-font {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
