@import "../../../theme";

.cartItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 6px 12px;
  margin: 7px 0px;
  background-color: #171717;
  border-radius: 17px;
  font-size: 0.8rem;

  &-img {
    width: 24px;
  }

  &-name {
    flex-grow: 1px;
  }
}
