@use "../../_theme.scss" as *;
@use "../../_base.scss" as *;

.homeBenefits {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: $primary-darker;
  position: relative;
  border-radius: 30px;

  @include tb {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.seperator-bar {
}
