@use ".././../../../../theme" as *;

.orderCounter {
  display: flex;
  gap: 5px;
  align-items: center;
  background-color: $primary-darker;
  border-radius: 5px;

  &-btn {
    width: 20px;
    height: 20px;
    background-color: $secondary;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
